@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@layer base {
  body {
    @apply bg-stone-900 font-[Poppins];
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .nav-item {
    @apply border-b-[1px] border-stone-700 p-2;
  }
  .card-item {
    @apply flex items-center gap-2 text-xl text-stone-400;
  }
}

.active {
  @apply bg-stone-700 text-white hover:bg-stone-600;
}
.active svg {
  @apply text-green-400;
}
.active:hover {
  @apply bg-stone-600;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-track:horizontal {
  background: #f1f1f100;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f151;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}
