@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@layer base {
  body {
    @apply bg-primary-900 font-[Poppins];
    background-image: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.005) 0,
        rgba(255, 255, 255, 0.005) 1px,
        transparent 1px
      ),
      linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
    background-size: 10px 10px;
    background-attachment: fixed;
    background-color: #2c2c2c;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .nav-item {
    @apply border-b-1 border-primary-700 p-2;
  }
  .card-item {
    @apply flex items-center gap-2 text-xl text-primary-400;
  }
}

.active {
  @apply bg-primary-700 text-white hover:bg-primary-600;
}
.active svg {
  @apply text-secondary-400;
}
.active:hover {
  @apply bg-primary-600;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-track:horizontal {
  background: #f1f1f100;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f151;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}
